logs
project/project
project/target
target
tmp
.history
.cache
.cache-main
dist
/.idea
/*.iml
/out
/.idea_modules
.classpath
.project
/RUNNING_PID
.settings
.DS_Store
.metadata
RemoteSystemsTempFiles
*.class
/bin/
.worksheet
*.sc
desktop.ini
*.log
